<app-navigation></app-navigation>
<div>
    <h1> ABOUT ME </h1>
    <p> Hey there! My name is Cayoh Allou Anicete, and I am a soon to be graduate from Holy Angel University with a degree in Bachelor of Science in Information Technology Major in Web Development. </p>
    <p> I developed my interest in web development during highschool and since then I decided to turn this interest to my career. Throughout my college journey I managed to expand my knowledge in my field and develop a background in UI/UX design, graphic design, and web development. My adaptability and critical thinking skills allows me to tackle different challenges while my effective communication ensures seamless collaboration with my team. I am passionate to create meaningful digital experiences while blending my creativity with functionality in every project. Outside my professional endeavors, my personal interests are </p>
</div>
