@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*Dark and Light Mode*/
:root {
  --background-color: #1b1a1a;
  --text-color: #f7f2ec;
}

.dark-mode {
  --background-color: #f7f2ec;
  --text-color: #1b1a1a;
}
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  
